$base-color: #000;
$base-color-2: #fff;
$theme-color: #31353b;
$theme-color-2: #eeeeee;
$primary-color: #1a7cb4;
$dark-theme: #15181b;
$secondary-color: #cecece;

@font-face {
  font-family: lato;
  src: url(/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: karla;
  src: url(../fonts/Karla/static/Karla-ExtraLight.ttf);
}

@font-face {
  font-family: karla-bold;
  src: url(../fonts/Karla/static/Karla-Bold.ttf);
}

//@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@mixin easeOut {
  transition: all 0.4s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: karla;
  color: $base-color;
  @include easeOut();
}

i {
  color: $secondary-color;
}

.bold-txt {
  font-weight: bold;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

i {
  color: $primary-color;
  font-size: 1.3rem;
}

body {
  background-color: $base-color;
}

img {
  width: 100%;
}

#modal-form {
  position: absolute;
}

input,
select,
textarea {
  padding: 0.35rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  width: 100%;
  background: lighten($color: $secondary-color, $amount: 5);
}

.center-align {
  text-align: center;
}

.flx {
  display: flex;

  &.jc-btn {
    justify-content: space-between;
  }

  &.js-evn {
    justify-content: space-evenly;
  }

  &.js-arnd {
    justify-content: space-around;
  }

  &.jc-center {
    justify-content: center;
  }
  &.jc-end {
    justify-content: end;
  }
}

.grd {
  display: grid;
  grid-gap: 1rem;

  &.grd-cl-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &.grd-cl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.grd-cl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.grd-cl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.grd-cl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  &.grd-cl-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &.grd-cl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

//box shadow
.bx-sdw {
  box-shadow: 0 10px 6px -6px #141414;
  // filter: drop-shadow(0 0 20px rgb(0, 0, 0));
}

// headers
h1,
h2,
h3,
h4,
h5 {
  // font-family: karla-bold;
  &.f-size-reg {
    font-size: 1.2rem;
  }

  &.f-size-med {
    font-size: 1.3rem;
  }

  &.f-size-lrg {
    font-size: 1.5rem;
  }

  &.f-size-xlrg {
    font-size: 2rem;
  }

  &.f-size-xxlrg {
    font-size: 2.5rem;
  }
}

// buttons
button {
  border: none;
  outline: none;
}

.btn {
  padding: 0.5rem 1.2rem;
  background-color: $primary-color;
  color: $base-color-2;
  border-radius: 0.3rem;
  cursor: pointer;

  &.btn-m {
    padding: 0.7rem 1.5rem;
  }

  &.btn-rounded {
    padding: 1rem;
    border-radius: 50%;
  }

  &:hover {
    padding: 0.6rem 1.3rem;
  }
}

// style notifications
.notification-msg-card {
  position: fixed;
  top: 5rem;
  left: 5rem;
  width: 400px;
  z-index: 100;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .hdr {
    padding: 1.3rem 0;
    background: darken($color: $secondary-color, $amount: 3);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .body {
    padding: 2rem 1rem 2rem 1rem;
    background: #f5f4f4;
  }
  .footer {
    padding: 1rem 0 1rem 0;
    background: #f5f4f4;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: relative;
    a {
      position: absolute;
      bottom: 1rem;
      &:nth-child(1) {
        left: 2rem;
      }
      &:nth-child(2) {
        right: 2rem;
      }
    }
  }
}

//Media guery Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
