@font-face {
  font-family: lato;
  src: url(/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: karla;
  src: url(../fonts/Karla/static/Karla-ExtraLight.ttf);
}

@font-face {
  font-family: karla-bold;
  src: url(../fonts/Karla/static/Karla-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-family: karla;
  color: #000;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

i {
  color: #cecece;
}

.bold-txt {
  font-weight: bold;
}

.primary-color {
  color: #1a7cb4;
}

.secondary-color {
  color: #cecece;
}

i {
  color: #1a7cb4;
  font-size: 1.3rem;
}

body {
  background-color: #000;
}

img {
  width: 100%;
}

#modal-form {
  position: absolute;
}

input,
select,
textarea {
  padding: 0.35rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  width: 100%;
  background: #dbdbdb;
}

.center-align {
  text-align: center;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx.jc-btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx.js-evn {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flx.js-arnd {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flx.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grd {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.grd.grd-cl-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grd.grd-cl-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grd.grd-cl-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grd.grd-cl-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grd.grd-cl-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grd.grd-cl-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grd.grd-cl-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bx-sdw {
  -webkit-box-shadow: 0 10px 6px -6px #141414;
          box-shadow: 0 10px 6px -6px #141414;
}

h1.f-size-reg,
h2.f-size-reg,
h3.f-size-reg,
h4.f-size-reg,
h5.f-size-reg {
  font-size: 1.2rem;
}

h1.f-size-med,
h2.f-size-med,
h3.f-size-med,
h4.f-size-med,
h5.f-size-med {
  font-size: 1.3rem;
}

h1.f-size-lrg,
h2.f-size-lrg,
h3.f-size-lrg,
h4.f-size-lrg,
h5.f-size-lrg {
  font-size: 1.5rem;
}

h1.f-size-xlrg,
h2.f-size-xlrg,
h3.f-size-xlrg,
h4.f-size-xlrg,
h5.f-size-xlrg {
  font-size: 2rem;
}

h1.f-size-xxlrg,
h2.f-size-xxlrg,
h3.f-size-xxlrg,
h4.f-size-xxlrg,
h5.f-size-xxlrg {
  font-size: 2.5rem;
}

button {
  border: none;
  outline: none;
}

.btn {
  padding: 0.5rem 1.2rem;
  background-color: #1a7cb4;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn.btn-m {
  padding: 0.7rem 1.5rem;
}

.btn.btn-rounded {
  padding: 1rem;
  border-radius: 50%;
}

.btn:hover {
  padding: 0.6rem 1.3rem;
}

.notification-msg-card {
  position: fixed;
  top: 5rem;
  left: 5rem;
  width: 400px;
  z-index: 100;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.notification-msg-card.show {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.notification-msg-card .hdr {
  padding: 1.3rem 0;
  background: #c6c6c6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.notification-msg-card .body {
  padding: 2rem 1rem 2rem 1rem;
  background: #f5f4f4;
}

.notification-msg-card .footer {
  padding: 1rem 0 1rem 0;
  background: #f5f4f4;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
}

.notification-msg-card .footer a {
  position: absolute;
  bottom: 1rem;
}

.notification-msg-card .footer a:nth-child(1) {
  left: 2rem;
}

.notification-msg-card .footer a:nth-child(2) {
  right: 2rem;
}

@font-face {
  font-family: lato;
  src: url(/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: karla;
  src: url(../fonts/Karla/static/Karla-ExtraLight.ttf);
}

@font-face {
  font-family: karla-bold;
  src: url(../fonts/Karla/static/Karla-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-family: karla;
  color: #000;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

i {
  color: #cecece;
}

.bold-txt {
  font-weight: bold;
}

.primary-color {
  color: #1a7cb4;
}

.secondary-color {
  color: #cecece;
}

i {
  color: #1a7cb4;
  font-size: 1.3rem;
}

body {
  background-color: #000;
}

img {
  width: 100%;
}

#modal-form {
  position: absolute;
}

input,
select,
textarea {
  padding: 0.35rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  width: 100%;
  background: #dbdbdb;
}

.center-align {
  text-align: center;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx.jc-btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx.js-evn {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flx.js-arnd {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flx.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grd {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.grd.grd-cl-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grd.grd-cl-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grd.grd-cl-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grd.grd-cl-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grd.grd-cl-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grd.grd-cl-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grd.grd-cl-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bx-sdw {
  -webkit-box-shadow: 0 10px 6px -6px #141414;
          box-shadow: 0 10px 6px -6px #141414;
}

h1.f-size-reg,
h2.f-size-reg,
h3.f-size-reg,
h4.f-size-reg,
h5.f-size-reg {
  font-size: 1.2rem;
}

h1.f-size-med,
h2.f-size-med,
h3.f-size-med,
h4.f-size-med,
h5.f-size-med {
  font-size: 1.3rem;
}

h1.f-size-lrg,
h2.f-size-lrg,
h3.f-size-lrg,
h4.f-size-lrg,
h5.f-size-lrg {
  font-size: 1.5rem;
}

h1.f-size-xlrg,
h2.f-size-xlrg,
h3.f-size-xlrg,
h4.f-size-xlrg,
h5.f-size-xlrg {
  font-size: 2rem;
}

h1.f-size-xxlrg,
h2.f-size-xxlrg,
h3.f-size-xxlrg,
h4.f-size-xxlrg,
h5.f-size-xxlrg {
  font-size: 2.5rem;
}

button {
  border: none;
  outline: none;
}

.btn {
  padding: 0.5rem 1.2rem;
  background-color: #1a7cb4;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn.btn-m {
  padding: 0.7rem 1.5rem;
}

.btn.btn-rounded {
  padding: 1rem;
  border-radius: 50%;
}

.btn:hover {
  padding: 0.6rem 1.3rem;
}

.notification-msg-card {
  position: fixed;
  top: 5rem;
  left: 5rem;
  width: 400px;
  z-index: 100;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.notification-msg-card.show {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.notification-msg-card .hdr {
  padding: 1.3rem 0;
  background: #c6c6c6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.notification-msg-card .body {
  padding: 2rem 1rem 2rem 1rem;
  background: #f5f4f4;
}

.notification-msg-card .footer {
  padding: 1rem 0 1rem 0;
  background: #f5f4f4;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
}

.notification-msg-card .footer a {
  position: absolute;
  bottom: 1rem;
}

.notification-msg-card .footer a:nth-child(1) {
  left: 2rem;
}

.notification-msg-card .footer a:nth-child(2) {
  right: 2rem;
}

@media screen and (max-width: 720px) {
  .hide-on-small {
    display: none;
  }
  .hide-on-small-medium {
    display: none;
  }
  .hide-on-small-large {
    display: none;
  }
  .flx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grd-cl-4 {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (min-width: 720px) and (max-width: 1170px) {
  .hide-on-medium {
    display: none;
  }
  .hide-on-small-medium {
    display: none;
  }
  .hide-on-medium-large {
    display: none;
  }
  .flx {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1171px) {
  .hide-on-large {
    display: none;
  }
  .hide-on-medium-large {
    display: none;
  }
  .hide-on-small-large {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */